<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zengchen233.dao.user.UserMapper">

    <resultMap id="map" type="User">
        <result property="userid" column="userid"/>
        <result property="usercode" column="usercode"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="usertype" column="usertype"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="datetime" column="datetime"/>
        <result property="title" column="title"/>
        <result property="message" column="message"/>
    </resultMap>

    <insert id="userRegister" parameterType="map">
        insert into user (userid,usercode,password,nickname,usertype,phone,email)
        values (#{userid},#{usercode},#{password},#{nickname},#{usertype},#{phone},#{email})
    </insert>

    <select id="userLogin" parameterType="string" resultType="user">
        select * from user where userCode = #{usercode}
    </select>

    <insert id="userComment" parameterType="map">
        insert into comment (usercode,nickname,datetime,title,message)
        values (#{usercode},#{nickname},#{datetime},#{title},#{message})
    </insert>
    
    <select id="queryComment" parameterType="map" resultType="map">
        select * from comment
    </select>

    <select id="queryUserList" parameterType="map" resultType="map">
        select u.*, r.rolename from user u, role r
        where u.usertype=r.roleid
        <if test="nickname != null and nickname!=''">
            and u.nickname like concat('%',#{nickname},'%')
        </if>
        <if test="userRole > 0">
            and u.usertype like concat('%',#{userRole},'%')
        </if>
        order by usertype
    </select>

    <update id="updatePwd" parameterType="string">
        update user set password = #{password} where usercode = #{usercode}
    </update>
</mapper>